@use 'src/styles/vars';


.history {
  &__list {
    height: 100%;
    overflow: auto;
    display: block;

    & li {
      margin: 0 0 0.5rem 1rem;
    }

    &--closed {
    display: none;
    }
  }
}
