body {
  background-color: #141414;
}

.app {
  height: 100vh;
  width: 1000px;
  margin: auto
}

main {
  display: flex;
  height: 90vh;
  position: relative;
}

.header {
  height: 10vh;
  background-color: #353434;
}

.game {
  width: 70%;
  background-color: #161616;
}

.menu {
  width: 30%;
}
