body {
}

.app {
  height: 100vh;
  width: 80%;
  margin: auto
}

main {
  display: flex;
  height: 90vh;
  position: relative;
}

.header {
  height: 10vh;
  background-image: url('/src/assets/images/background.png');
  color: transparent;
  -webkit-background-clip: text;
  border-bottom: 1px solid #000;

  & div {
    height: 1rem;
    width: 100%;
    background-color: transparent;
    -webkit-background-clip: content-box;
  }

  & h1 {

  text-align: center;
  margin: auto;
  font-family: 'Impact';
  font-size: 6rem;
  text-transform: uppercase;
  }
}

.game {
  width: 70%;
  min-width: 800px;
  // background-color: #161616;
}



