@keyframes apparate {
  from {
    opacity: 0;
    color: #c30202;
  }
  to {
    color: #c3ab02;
    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;

  }
}

.gameboard {
  height: 100%;
  position: relative;
  background-image: url('/src/assets/images/gameboard.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &__player {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;

    &--first {
      background-color: #c3ab02;
      top: 25px;
      right: 405px;
    }

    &--second {
      background-color: violet;
    }

    &--third {
      background-color: orange;
      
    }

    &--fourth {
      background-color: green;
      bottom: 30px;
      right: calc( 50% - 15px );
      
    }

    &--fifth {
      background-color: blue;
      bottom: 200px;
      left: 20%;
    }

    &--sixth {
      background-color: red;
      top: 20px;
      right: calc( 50% - 10px );
  
    }
  }

  &__core {
    position: absolute;
    top: calc( 50% - 102px) ;
    right: calc( 50% - 100px) ;
    // background-image: url('https://images2.imgbox.com/fe/f3/J82a3AQU_o.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    width: 215px;
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-message {
      width: 200px;
      height: 200px;
      // font-size: 1em;
      color: #c3ab02;
      text-shadow: 1px 1px 1px #000;
      font-family: 'Algerian', sans-serif;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: justify ;
      transition: 1s;
      animation: apparate 1s 1;

      & span {
        width: 100%;
      }
    }

    &--new {
      width: 450px;
      height: 450px;
      top: calc( 50% - 225px) ;
      right: calc( 50% - 225px) ;
      transition: 1s;
    }
  
  }

  &__post-dice {
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    transition: 1s;

    &--hidden {
      top: 150%;
      display: none;

    }

    &-message {
      height: 40%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        width: 50%;
        max-height: 100%;
        margin: auto;
      }

      &-riddle {
        position: absolute;
        display: flex;
        align-items: center;
        height: 100%;
        // font-size: 1em;
        color: #c3ab02;
        text-shadow: 1px 1px 1px #000;
        font-family: 'Algerian', sans-serif;
        text-align: center;
        transition: 1s;
        animation: apparate 1s 1;

        & p {
          width: 200px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          // height: 200px;

        }

      }

      &-form {
        background-color: #c30202;
        width: 60%;
        margin: auto;
        padding: 1rem;

        &__input {
          width: 100%;
        }

        &__button {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

}
