@keyframes apparate {
  from {
    opacity: 0;
  }
  to {
    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
  }
}

.gameboard {
  height: 100%;
  position: relative;
  background-image: url('/src/assets/images/gameboard.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #210f00;

  &__background {
    background-image: url('/src/assets/images/second-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 999;

    
  animation: 2s ease-in 1s 1 both running apparate;

  }

  &__player {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;

    &--first {
      background-color: #c3ab02;
      top: 25px;
      right: 405px;
    }

    &--second {
      background-color: violet;
    }

    &--third {
      background-color: orange;
      
    }

    &--fourth {
      background-color: green;
      bottom: 30px;
      right: calc( 50% - 15px );
      
    }

    &--fifth {
      background-color: blue;
      bottom: 200px;
      left: 20%;
    }

    &--sixth {
      background-color: red;
      top: 20px;
      right: calc( 50% - 10px );
  
    }
  }

  &__core {
    position: absolute;
    top: calc( 50% - 102px) ;
    right: calc( 50% - 100px) ;
    background-image: url('https://images2.imgbox.com/fe/f3/J82a3AQU_o.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 215px;
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &--open {
      transform: scale(2);
      transition: 5s;
    }

    &-round {
      position: absolute;
      // left: -40px;
      left: calc( 50% - 40%);
      background-color: transparent;
      width: 80%;
      height: 60%;
      transform: scale(1.5);
      // box-shadow: 0 0  15px 15px #f0f;
      // transform: rotate(-15deg);
      border-radius: 50%;
      overflow: hidden;
      // border: 2px solid red;
    }


    &-fog {
      &--animation {
        position: absolute;
        left: -45px;
        top: -45px;
        // background-color: #262626;
        background-image: url('https://images2.imgbox.com/fe/f3/J82a3AQU_o.png');
        // margin: auto;    background-position: center;
      // background-repeat: no-repeat;
        background-size: cover;
        width: 180%;
        height: 180%;
        border-radius: 50%;
        // transform: scale(0.50);
        box-shadow: 0 0  15px 15px #262626;
        // transform: rotate(-15deg);
        // animation-delay: 15s;
        animation:  3s ease-in 2s 1 reverse both running apparate;
      }
    }

    &-message {
      transform: scale(0.75);
      width: 160px;
      height: 180px;
      // font-size: 1em;
      color: #c3ab02;
      text-shadow: 1px 1px 1px #000;
      font-family: 'Algerian', sans-serif;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: justify ;
      justify-content: center;
      transition: 1s;
      animation: apparate 1s 1;

      & span {
        width: 100%;
      }
    }

    &--new {
      width: 450px;
      height: 450px;
      top: calc( 50% - 225px) ;
      right: calc( 50% - 225px) ;
      transition: 1s;
    }
  
  }

  &__post-dice {
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    transition: 1s;

    &--hidden {
      top: 150%;
      display: none;

    }

    &-message {
      height: 40%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        width: 50%;
        max-height: 100%;
        margin: auto;
      }

      &-riddle {
        position: absolute;
        display: flex;
        align-items: center;
        height: 100%;
        // font-size: 1em;
        color: #c3ab02;
        text-shadow: 1px 1px 1px #000;
        font-family: 'Algerian', sans-serif;
        text-align: center;
        transition: 1s;
        animation: apparate 1s 1;

        & p {
          width: 200px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          // height: 200px;

        }

      }

      &-form {
        // background-color: #c30202;
        width: 60%;
        margin: auto;
        padding: 1rem;

        &__input {
          width: 100%;
        }

        &__button {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

}
