.menu {
  background-color: #210f00;
  width: 30%;
  overflow: auto;
  // background-color: rgb(160, 108, 108);
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  color: #df5b10;
}

.gameboard__form {
  // border: 1px solid #f0f;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  &-message {
    color: #df5b10;
    text-align: justify;
    margin-bottom: 0.5rem;
    font-size: 0.8em;

    &--alerte {
      font-style: italic;
    }
  }
  
  &-title {
    font-family: 'Impact';
    color: #3c5f24;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 1px #75b983;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 5px;
    text-align: center;
  }

  &-input {
      width: 100%;
      padding: 0.5rem;
      background-color: #73d186be;
      border-width: 1px;
      border-style: solid; 
      border-bottom-color: #75b983;
      border-top-color: #3c5f24;
      border-left-color: #3c5f24;
      border-right-color: #75b983;

    &::placeholder {
      color: #2a2a2a;
      font-style: italic;
      // border-top: ;
      // border-left: ;
      // border-right: ;
    }

    &:placeholder-shown {
      // border: 1px solid red;
    }
  }

  &-validator {
    display: flex;
    justify-content: space-between;
    height: 1rem;
    width: 100%;
    margin: 0.5rem 0;
    border-radius: 0 5px 5px 0;
    // border: 1px solid #457687;
    // background-color: #457687 ;
    border: 1px solid #3c5f24;
    background-color: #3c5f24 ;
    font-size: 0;
    
  
  
    &-gauge {
      height: 100%;
      border-radius: 0 5px 5px 0;
      // background-color: #7fc2cf;
      background-color: #75b983;
    }
  }

  &-button {
    border: 2px solid #406d80;
    background-color: #174152;
    color: #3e0109;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #406d80;
    font-size: 1.3em;
    width: fit-content;
    margin: 1rem auto;
    padding: 0.8rem;
    border-radius: 5px;
  }
}
